.myform{
    /* margin: 0 auto; */
    /* xdisplay: inline-block; */

    background: rgba(44,62,80,0.7);
    /* align-content: center; */
    display: flex;
   justify-content: center; 
   align-content: flex-end;
   margin-left: auto;
   margin-right: auto;
   color: white;
}

#myid{
    align-content: space-between;
}

body
{
    background-image: url("images/newcrop.jpg");
    background-repeat: no-repeat;
    background-size:cover;

}
