/* .myform{



    width:500px;
    display:flex  ;
    margin-top: 230px;
    /* box-shadow: 10px 10px gray; */
    /* background-color: brown; */
    /*     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /*     padding: 10px 1px 1px 1px; */

    /* left: 100px; */
    /*     background: rgba(44,62,80,0.7); */
    /*     color: white; */

    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* padding: 10px 1px 1px 1px; */

    /* left: 100px; */
    /* background: rgba(44,62,80,0.7); */
    /* color: white; */


/* } */


/* .mybtn{

    border-radius: 10px;
}*/



body
{
    background-image: url("images/bkg3.jpg");
    background-repeat: no-repeat;
    background-size:cover;

}






.maincontainer{
    position: relative;
    width: 500px;
    height:520px;
    /* background:green; */
    display:flex

}


.card{
    position: absolute;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transition:all 0.5s ease;
    /* background: yellow; */
}
.card.flip-karo{
    transform: rotateY(180deg);
}
.front{
    position: absolute;
    width: 100%;
    height:100%;
    backface-visibility: hidden;
    background: #ffc728;
    /* background: rgba(44,62,80,0.7); */
    color:#333;
}
.back{
    position: absolute;
    width: 100%;
    height:100%;
    backface-visibility: hidden;
    background: #ffc728;
    /* background: rgba(44,62,80,0.7); */
    color:#333;
    transform:rotateY(180deg)


}
