{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your shopping cart</title>
    <style>
        .container{
            margin-top: 100px;
        }
    </style>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Favicons -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    
    <link href="{% static 'css/checkout.css' %}" rel="stylesheet">
</head>
<body>
  <div class="container ">
    <div class="row">
    <div class="col-9 myform" style="padding: 11px;">
    <h3 style="background-color:orangered; border-radius: 10px; padding:10px;">
      Your Cart
    </h3>
  
    {% for item in cart %}
    {% with product=item.product %}
    <ul class="list-inline">
    <div class="row">
      
        <li class="list-inline-item"><a href="{{ product.get_absolute_url }}">
          <img src="{{ product.photo.url }}" style="width: 200px; height: 200px; padding:10px " >
        </a></li>
  
        <li>
          <ul>
            <li>
              <h3><b>{{ product.name }}</b></h3>
            </li>
            <li>₹{{ item.price }}
  
            </li>
            <li>
              <form action="{% url "cart_add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                <br>
                {{ item.update_quantity_form.override }}
                <input type="submit" value="Update" class="form-control" style="margin-top: 10px;">
                {% csrf_token %}
              </form>
            </li>
            </ul>
          
  
  
        </li>
        <li >
          ₹{{ item.total_price }}
        </li>
        
     
  
  
    </div>
    </ul>
    {% endwith %}
        {% endfor %}
  
  
  
      </div>
      <div class="col-3 myform" style="padding: 10px;">
  
        <h3 style="background-color:yellowgreen; border-radius: 10px; padding:10px;">
          Summary
        </h3>
  
        <h3>
          Total=₹{{ cart.get_total_price }}
        </h3>
       
        <form method="post" class="order-form">
          {{form.first_name}}
          <div class="alert alert-danger" role="alert">
            {{form.first_name.errors|striptags}}
          </div>
          {{form.last_name}}
          <div class="alert alert-danger" role="alert">
            {{form.last_name.errors|striptags}}
          </div>
          {{form.email}}
          <div class="alert alert-danger" role="alert">
            {{form.email.errors|striptags}}
          </div>
          {{form.address}}
          <div class="alert alert-danger" role="alert">
            {{form.address.errors|striptags}}
          </div>
          {{form.postal_code}}
          <div class="alert alert-danger" role="alert">
            {{form.postal_code.errors|striptags}}
          </div>
          {{form.city}}
          <div class="alert alert-danger" role="alert">
            {{form.city.errors|striptags}}
          </div>
          
          
          
          
          
          
          <!-- {{ form.as_p }} -->
          <p><input type="submit" value="Place order" class="btn btn-success btn-lg btn-block"></p>
          {% csrf_token %}
        </form>
        
      </div>
    
    </div>
    </div>
  






    <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
        <script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>